.dropzone {
    text-align: center;
    padding: 20px;
    border: 3px dashed #eeeeee;
    background-color: #fafafa;
    color: #bdbdbd;
    margin-bottom: 20px;
  }
  
  .accept {
    border-color: #107c10 !important;
  }
  
  .reject {
    border-color: #d83b01 !important;
  }
  
  .img-container {
    width: 50%; /* adjust this value as needed */
    height: 50%; /* adjust this value as needed */
    max-width: 639px; /* maximum width */
    max-height: 500px; /* maximum height */
  }